USE [master]
GO
/****** Object:  Database [VIAJES365]    Script Date: 6/3/2021 19:50:02 ******/
CREATE DATABASE [VIAJES365]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TURISMOCAT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TURISMOCAT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TURISMOCAT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TURISMOCAT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VIAJES365].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VIAJES365]
GO
/****** Object:  Table [dbo].[Atractivos turísticos]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Atractivos turísticos](
	[idAtractivos] [nchar](10) NULL,
	[idLocalidad] [nchar](10) NULL,
	[tipoAtractivo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[idChat] [nchar](10) NULL,
	[idUsuario] [nchar](10) NULL,
	[consulta] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clima]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clima](
	[idClima] [nchar](10) NULL,
	[idLocalidad] [nchar](10) NULL,
	[pronosticoExtendido] [nvarchar](50) NOT NULL,
	[historialClimas] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[idDepartamento] [nchar](10) NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[cantidadDeItinerarios] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foro]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foro](
	[idForo] [nchar](10) NULL,
	[idUsuario] [nchar](10) NULL,
	[procedencia] [nvarchar](50) NOT NULL,
	[motivoVisita] [nvarchar](max) NOT NULL,
	[conformidad] [nvarchar](50) NOT NULL,
	[post] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itinerarios]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itinerarios](
	[idItinerario] [nchar](10) NULL,
	[idLocalidad] [nchar](10) NULL,
	[rutas] [nchar](10) NOT NULL,
	[transporte] [nvarchar](50) NOT NULL,
	[cantidadDepartamentos] [nchar](10) NOT NULL,
	[tipoItinerario] [nvarchar](50) NULL,
	[kilometrosRecorridos] [nchar](10) NOT NULL,
	[horasDeViaje] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[idLocalidad] [nchar](10) NULL,
	[idDepartamento] [nchar](10) NULL,
	[alojamiento] [nvarchar](50) NOT NULL,
	[gastronomia] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 6/3/2021 19:50:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[idUsuario] [nchar](10) NULL,
	[tipoDeUsuario] [nvarchar](max) NOT NULL,
	[nombreApellido] [nvarchar](50) NULL,
	[e-mail] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
